[Unit]
Description=Edged daemon
After=network.target syslog.target

[Service]
Type=simple
PIDFile=/var/run/edged.pid
ExecStart=/usr/bin/edged -f /etc/gon2n/edged.yaml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
